:root {
    --white: #ffffff;
    --skyblue: #006CFA; 
    --green: #00E165;     
}


.debug {
    border: 1px solid var(--white);
    background-color: var(--skyblue);
    color: var(--white);
    padding: 10px;
    text-align: center;
}

.nested {
    background-color: var(--green);
    border-color: var(--skyblue);
}